.toolbar {
  height: 8rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0 .5rem;

  .logo {
    display: flex;
    align-items: center;

    img {
      margin: 0 0.5rem;
      height: 4.2rem;
    }
    span {
      font: 600 2.6rem/3.4rem Roboto, sans-serif;
    }
  }

  .spacer {
    flex: 1;
  }

  .right {
    .menu-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      align-items: center;

      & > button {
        min-width: 11.2rem;
      }

      & > span {
        font: 500 12px/16px Roboto, sans-serif;
      }
    }
  }
}
