@import "../helpers.scss";

$max-width-by-view: (
  360px: 100%,
  600px: 90%,
  1024px: 80%,
  1280px: 60%,
);

%content-width {
  @include propByView('max-width', $max-width-by-view);
}

.header-container {
  width: 100%;
  border-top: 0.1rem solid #c5c5c5;
  border-bottom: 0.1rem solid #c5c5c5;
  border-right: none;
  border-left: none;

  .header {
    margin: auto;
    @extend %content-width
  }
}
