@use "@angular/material" as mat;
@import "../app/helpers/styles/helpers.scss"; 

$max-width-by-view: (
  360px: 100%,
  600px: 90%,
  1024px: 80%,
  1280px: 60%,
);

%content-width {
  @include propByView('max-width', $max-width-by-view);
}

.main {
  min-height: 100vh;
  min-width: 360px;

  .header-container {
    width: 100%;
    background-color: $app-cbackground;
    border-bottom: 0.1rem solid $app-mborders;
    border-right: none;
    border-left: none;
  
    .header {
      margin: auto;
      @extend %content-width
    }
  }
  
  .content-container {
    .content{
      margin: 2rem auto;
      @extend %content-width
    }
  }
}
